.products {
    width: 100%;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 400px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .addToCartBttn:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }